* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
}

.hidden {
    display: none;
 }

#results-list {
    display: block;
    padding-left: 20px;
    text-decoration: none;
    list-style: none;
}

#results-list li {
    list-style: none;
}